# Dependencies
node_modules/

# Next.js build output
.next/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env / secrets
.env
.env.local
.env.*.local

# OS junk
.DS_Store
Thumbs.db

# Probably big and not needed in git
uploads/
