
services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: smoketheglobe
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - '5432:5432'

  adminer:
    image: adminer
    restart: always
    ports:
      - '8080:8080'

volumes:
  db_data:


  etl:
    build:
      context: .
      dockerfile: Dockerfile.etl
    environment:
      - DATABASE_URL=\
      - SUPABASE_URL=\
      - SUPABASE_SERVICE_ROLE_KEY=\
      - ETL_ENABLE_CA=\
      - ETL_ENABLE_WA=\
      - ETL_ENABLE_ON=\
      - OPENAI_API_KEY=\
    depends_on:
      - db
    networks:
      - default
