version: "3.9"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.web
    ports:
      - "3000:3000"
    env_file:
      - .env.local
    environment:
      NODE_ENV: development
    depends_on:
      - etl

  etl:
    build:
      context: .
      dockerfile: Dockerfile.etl
    env_file:
      - .env
    restart: "no"
